<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.username }}" target="_blank" rel="noopener noreferrer">
    <img
      class="w-100"
      alt="{{ include.username }}"
      src="https://opengraph.githubassets.com/1/{{ include.username }}"
      style="border-radius: 6px;"
    >
  </a>
</div>
